{% extends 'main/basedpersonalpages.html' %}

{% load static %}

{% block title %}
ФИИТ
{% endblock title%}

{% block logo %}
    <div class="col-md-7 col-sm-5 col-xs-5 logo">
        <img class="pageLogo img-fluid" src="{% static 'main/images/fiitLogo_page.png' %}">
    </div>
{% endblock%}

{% block name_direction %}
    <div class="col-md-6 col-sm-5 col-xs-5 pagesIntro-link">
        <h2 class="H2-pages fiit-color">Фундаментальная информатика и информационные технологии</h2>
    </div>
{% endblock%}

{% block egepoints%}
258
{%endblock%}

{% block info%}
    <div class="descriptionContent">
        <p class="doDescription">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.</p>

        <p class="doDescription">Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.</p>

        <p class="doDescription" >Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики.</p>

        <p class="doDescription">Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу.</p>

        <p class="doDescription">Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный риторический вопрос скатился по его щеке и он продолжил свой путь. По дороге встретил текст рукопись. Она предупредила его: «В моей стране все переписывается по несколько раз. Единственное, что от меня осталось, это приставка «и». Возвращайся ты лучше в свою безопасную страну». Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель</p></pdoDescription>
    </div>
{% endblock%}

{% block avatar1%}
<img src="{% static 'main/images/avatarExample.png' %}" alt="" class="studentPhoto">
{% endblock%}

{% block name1%}
<h3 class="studentName">Студент 1 курса ФИиИТ Иванов Иван Иванович</h3>
{%endblock%}

{% block comment1 %}
<img src="{% static 'main/images/commentExample.png' %}" alt="" class="studentCommentCode">
{%endblock%}

{% block video1 %}
<source src="{% static 'main/videos/example.mp4' %}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
{% endblock %}

{% block video2 %}
<source src="{% static 'main/videos/sdaiege.mp4' %}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
{% endblock %}

{% block avatar2 %}
<img src="{% static 'main/images/avatarExample.png' %}" alt="" class="studentPhoto">
{% endblock%}

{% block name2%}
<h3 class="studentName">Студент 4 курса ФИиИТ Иванов Иван Иванович</h3>
{%endblock%}

{% block comment2 %}
<img src="{% static 'main/images/commentExample.png' %}" alt="" class="studentCommentCode">
{% endblock %}