{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>CSIT-АБИТУРИЕНТ</title>
</head>
<body>
    <div class="intro">
        <div class="container">
            <div class="row row-cols-auto">
                <div class="col-md-5 col-sm-5 col-xs-5 intro-text">
                    <h1 class="title-h1">CSIT-АБИТУРИЕНТ</h1>


                </div>

                <div class="col-md-7 logo">
                    <img class="mainLogo  img-fluid" src="{% static 'main/images/mainLogo1.png'%}">
                </div>

                <div class="col-md-5 col-sm-5 col-xs-5 intro-text2">
                    <h2 class="title-h2 _anim-items">Твой личный гайд в выборе направления </h2>

                </div>
                <div class="col-md-7 ">

                </div>


            </div>







        </div>

    </div>

    <div class="sections">

        <div class="container sections-con">
            <h1 class="sections-title text-center" >Наши направления</h1>
            <div class="row row-cols-auto">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 card _anim-items ">
                    <a href="/fiitPage">
                        <img src="{% static 'main/images/fiitLogo.png' %}" class="card-logo">
                        <h2 class="card-name">Фундоментальная информатика и информационные технологии</h2>
                        <h3 class="card-profile">Профиль: Информатика и компьютерные науки</h3>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 card _anim-items">
                    <a href="/ivtPage">
                        <img src="{% static 'main/images/ivtLogo.png' %}" class="card-logo">
                        <h2 class="card-name">Информатика и вычислительная техника</h2>
                        <h3 class="card-profile">Профиль: Профиль: Вычислительные машины, комплексы, системы и сети</h3>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 card _anim-items">
                    <a href="/piPage">
                        <img src="{% static 'main/images/piLogo.png' %}" class="card-logo">
                        <h2 class="card-name">Программная инженерия</h2>
                        <h3 class="card-profile">Профиль: Разработка программно-информационных систем</h3>
                    </a>
                </div>



                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 card _anim-items">
                    <a href="/kbPage">
                        <img src="{% static 'main/images/kbLogo.png' %}" class="card-logo">
                        <h2 class="card-name">Компьютерная безопасность (специалитет)</h2>
                        <h3 class="card-profile">Профиль: Математические методы защиты информации (Специализация)</h3>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 card _anim-items">
                    <a href="/siPage">
                        <img src="{% static 'main/images/siLogo.png' %}" class="card-logo">
                        <h2 class="card-name">Системный анализ</h2>
                        <h3 class="card-profile">Профиль: Системный анализ и исследование операций</h3>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 card _anim-items">
                    <a href="/ish">
                        <img src="{% static 'main/images/moaisLogo.png' %}" class="card-logo">
                        <h2 class="card-name">МАТЕМАТИЧЕСКОЕ ОБЕСПЕЧЕНИЕ И АДМИНИСТРИРОВАНИЕ ИНФОРМАЦИОННЫХ СИСТЕМ</h2>
                        <h3 class="card-profile">Профиль: Технологии программирования</h3>
                    </a>
                </div>


            </div>



            </div>

        </div>

    <div class="footer">
        <div class="container footer-con">
            <div class="row">
                <hr class="r-line">
            </div>
            <div class="row">
                <h3 class="footer-text">Иллюстрации, дизайн, верстка: Сахнов Максим, Евгений Таран</h3>

            </div>
            <div class="row">
                <h3 class="footer-text">Мы в социальных сетях</h3>
            </div>
            <div class="row icon-row">
                <a href="https://vk.com/sgu_kniit" class="footer-icon vk">
                    <img src="{% static 'main/images/vk-icon.svg' %}" class alt="">
                </a>
                <a href="https://www.instagram.com/your__honey/" class="footer-icon inst">
                    <img src="{% static 'main/images/instagram.svg' %}" class alt="">
                </a>

            </div>
        </div>

    </div>


</body>

<script src="{% static 'main/js/script.js' %}"></script>
</html>