{% extends 'main/basedpersonalpages.html' %}

{% load static %}

{% block title %}
ИВТ
{% endblock title%}

{% block logo %}
    <div class="col-md-7 logo">
        <img class="pageLogo img-fluid" src="{% static 'main/images/ivtLogo_page.png' %}">
    </div>
{% endblock%}

{% block name_direction %}
    <div class="col-md-5 col-sm-5 col-xs-5 pagesIntro-link">
        <h2 class="H2-pages ivt-color">Информатика и вычислительная техника</h2>
    </div>
{% endblock%}

{% block egepoints%}
210
{%endblock%}

{% block info%}
  <div class="descriptionContent">
      <p class="doDescription">Идет рыцарь по лесу и видит — говно лежит. </p>

      <p class="doDescription">— Я тебя съем! — говорит говно!</p>

      <p class="doDescription"> — Нет, я тебя съем! - ответил рыцарь, и съел гавно</p>

      <p class="doDescription"> Вот так добро всегда побеждает зло</p></pdoDescription>
  </div>
{% endblock%}

{% block video%}
<video src="{% static 'main/videos/sdaiege1.mp4' %}" controls="controls"></video>
{% endblock%}