{% extends 'main/basedpersonalpages.html' %}

{% load static %}

{% block title %}
КБ
{% endblock title%}

{% block logo %}
    <div class="col-md-7 logo">
        <img class="pageLogo img-fluid" src="{% static 'main/images/kbLogo_page.png' %}">
    </div>
{% endblock%}

{% block name_direction %}
    <div class="col-md-5 col-sm-5 col-xs-5 pagesIntro-link">
        <h2 class="H2-pages kb-color">Компьютерная безопасность</h2>
    </div>
{% endblock%}

{% block egepoints%}
219
{%endblock%}

{% block info%}
  <div class="descriptionContent">
      <p class="doDescription">Идет рыцарь по лесу и видит — говно лежит. </p>

      <p class="doDescription">— Я тебя съем! — говорит говно!</p>

      <p class="doDescription"> — Нет, я тебя съем! - ответил рыцарь, и съел гавно</p>

      <p class="doDescription"> Вот так добро всегда побеждает зло</p></pdoDescription>
  </div>
{% endblock%}

{% block avatar1%}
<img src="{% static 'main/images/avatarExample.png' %}" alt="" class="studentPhoto">
{% endblock%}

{% block name1%}
<h3 class="studentName">Студент 1 курса КБ Иванов Иван Иванович</h3>
{%endblock%}

{% block comment1 %}
<img src="{% static 'main/images/commentExample.png' %}" alt="" class="studentCommentCode">
{%endblock%}

{% block video1 %}
<source src="{% static 'main/videos/example.mp4' %}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
{% endblock %}

{% block video2 %}
<source src="{% static 'main/videos/sdaiege.mp4' %}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
{% endblock %}

{% block avatar2 %}
<img src="{% static 'main/images/avatarExample.png' %}" alt="" class="studentPhoto">
{% endblock%}

{% block name2%}
<h3 class="studentName">Студент 4 курса КБ Иванов Иван Иванович</h3>
{%endblock%}

{% block comment2 %}
<img src="{% static 'main/images/commentExample.png' %}" alt="" class="studentCommentCode">
{% endblock %}