{% extends 'main/basedpersonalpages.html' %}

{% load static %}

{%block title%}
ПО
{%endblock title%}

{% block DirName %}
Педагогическое образование
{% endblock%}

{% block DirProf %}
Информатика
{% endblock%}

{%block DirDot1%}
Главная задача
{%endblock%}

{%block DirDot2%}
Область профессио-<br>нальной деятельности
{%endblock%}

{%block DirDot3%}
Работа для выпускника
{%endblock%}

{%block DirInf1%}
Главной задачей направления подготовки «Фундаментальная информатика и
информационные технологии» является формирование и
подготовка ИТ-профессионалов, готовых к работе в любых областях науки, образования, индустрии и бизнеса.
{%endblock%}

{%block DirInf2%}
Область профессиональной деятельности бакалавров включает:
технологии баз данных, компьютерную графику, обучающие системы и электронное обучение, управленческие информационные системы,
технологии мультимедиа, архитектуру программного обеспечения,
инженерию программного обеспечения, системное администрирование, веб-технологии, параллельное и распределенное программирование.
{%endblock%}

{%block DirInf3%}
Бакалавр может занимать следующие должности:<br>разработчик приложений; <br>бизнес-аналитик; <br> аналитик бизнес-процессов;<br> администратор баз данных; аналитик баз данных;
разработчик информационных технологий;<br>консультант по информационным технологиям; <br> менеджер операций по информационным технологиям;<br> менеджер по рискам и безопасности информационных технологий;<br> сетевой администратор; менеджер проекта;<br> менеджер веб-контента.
{%endblock%}

{% block egepoints%}
188
{%endblock%}

{% block avatar1%}
<img src="{% static 'main/images/avatarExample.png' %}" alt="" class="studentPhoto">
{% endblock%}

{% block student1%}
<h3 class="studentName">Рыскин Александр<br>ПО<br>1 курс</h3>
{%endblock%}

{% block video1 %}
<iframe class="embed-responsive-item"  src="https://rutube.ru/embed/1d171a482721dad740facd71fa92a78c/" frameborder="0" allowfullscreen></iframe>
{% endblock %}

{% block avatar1.1%}
<img src="{% static 'main/images/avatarExample.png' %}" alt="" class="studentPhoto">
{% endblock%}

{% block student1.1%}
<h3 class="studentName">Рыскин Александр<br>ПО<br>1 курс</h3>
{%endblock%}

{% block video1.1 %}
<iframe class="embed-responsive-item"  src="https://rutube.ru/embed/1d171a482721dad740facd71fa92a78c/" frameborder="0" allowfullscreen></iframe>
{% endblock %}

{% block video2 %}
<iframe class="embed-responsive-item"  src="https://rutube.ru/embed/1d171a482721dad740facd71fa92a78c/" frameborder="0" allowfullscreen></iframe>
{% endblock %}

{% block avatar2 %}
<img src="{% static 'main/images/avatarExample.png' %}" alt="" class="studentPhoto">
{% endblock%}

{% block student2%}
<h3 class="studentName">Чабан Мария<br>ПО<br>Выпускница</h3>
{%endblock%}

{% block avatar2.1%}
<img src="{% static 'main/images/avatarExample.png' %}" alt="" class="studentPhoto">
{% endblock%}

{% block student2.1%}
<h3 class="studentName">Чабан Мария<br>ПО<br>Выпускница</h3>
{%endblock%}

{% block video2.1%}
<iframe class="embed-responsive-item"  src="https://rutube.ru/embed/1d171a482721dad740facd71fa92a78c/" frameborder="0" allowfullscreen></iframe>
{% endblock %}