{% extends 'main/basedpersonalpages.html' %}

{% load static %}

{% block title %}
ПИ
{% endblock title%}

{% block name_direction %}
    <div class="col-md-5">
        <h2 class="H2-pages pi-color">Программная инженерия</h2>
    </div>
{% endblock%}

{% block logo %}
    <div class="col-md-4 col-lg-6 d-none d-md-block img-fluid logoCol">
        <img class="pageLogo img-fluid" src="{% static 'main/images/piLogo_page.png' %}">
    </div>
{% endblock%}

{% block egepoints%}
274
{%endblock%}

{% block info%}
  <div class="descriptionContent">
      <p class="doDescription">Идет рыцарь по лесу и видит — говно лежит. </p>

      <p class="doDescription">— Я тебя съем! — говорит говно!</p>

      <p class="doDescription"> — Нет, я тебя съем! - ответил рыцарь, и съел гавно</p>

      <p class="doDescription"> Вот так добро всегда побеждает зло</p></pdoDescription>
  </div>
{% endblock%}

{% block video%}
<video src="{% static 'main/videos/sdaiege1.mp4' %}" controls="controls"></video>
{% endblock%}
